@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add global CSS here */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: 'Newsreader', serif;
}

html {
  height: 99%;
}

body,
#root {
  height: 100%;
  background-color: ##f2f2f2;
}
