.btn {
  background: #ffffff;
  border: #000000 1px solid;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  border-radius: 8px;
}

.btn:hover {
  background-color: #007bff;
}
