.answer {
  display: block;
  flex-direction: column;
  border: 0px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.clamp-text {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.user-in-answer {
  font-weight: bold;
  margin-bottom: 8px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 8px; */
}

.trash-icon {
  cursor: pointer;
  font-size: 1.1em;
}

.see-full-text {
  cursor: pointer;
  color: #007bff;
  font-size: 0.9em;
  text-decoration: underline;
  margin-top: 6px;
}
