.profile {
  display: flex;
  flex-direction: colu;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.container h2,
.container p,
.container h4,
.container form {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-text {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.input-text:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.signup-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 10px;
}

.account-creation-error {
  padding: 20px;
  background-color: #ffdce0;
  box-shadow: 0 4px 5px #d64355;
  border-radius: 10px;
  font-size: 0.75rem;
  display: block;
  margin-top: -0.5em;
  color: #d64355;
  border-color: #d64355;
  margin-bottom: 20px;
  margin-top: 20px;
  word-wrap: break-word;
  white-space: normal;
  max-width: 260px;
  text-align: center;
}
