.answer {
  display: flex;
  flex-direction: column;
  border: 0px;
  margin-top: 10px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.trash-icon {
  cursor: pointer;
  font-size: 1.1em;
}
