.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding-left: 25px;
  padding-right: 10px;
  background: #f2f2f2;
}

.title {
  font-size: 24px;
  font-weight: 800;
  padding-right: 30px;
}

.header-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 7px;
}

.icon {
  font-size: 1.5rem !important;
}

.right-side-header {
  display: flex;
  align-items: center;
  justify-content: right;
}

.left-side-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.link:hover {
  color: grey;
}

.search-bar {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

.avatar-in-header {
  display: flex;
  width: 35px !important;
  height: 35px !important;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
}
